*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
    background-image: url(../images/underwater.jpg);
    background-attachment: fixed;
   background-size: cover;
   background-position: center center;
   /* background: linear-gradient(to left top, rgb(27, 27, 27), rgb(158, 158, 158)) fixed; */
}


div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}
.logo{
    width: 150px;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}


.height{
    height: 100vh;
}


h2{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
}


#aSide {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 200px);
    right: 2%;
}

#aSide img,
model-viewer {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
}




